/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*limitar logo del menu*/
.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar a.navbar-brand {
    padding: 1px 8px;
}

.TitPag {
    background-color: #00a0e4;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 5px;
    text-align: left;
}

.checkboxList {
    float: left;
    position: relative;
    font-size: 11px;
    border: 2px solid #00A0E4;
    margin-left: 35px;
}

.help-inline {
    color: #C1372A !important;
    display: block;
    font-weight: normal !important;
}





/*ABMC*/

/*grilla filtro*/
#tbAbm {
    margin-bottom:10px;
}
#tbAbm tr {
    background-color: #EFF3FB;
    border-color: #999999;
    border-width: 1px;
    border-style: Solid;
}

 #tbAbm tr:nth-of-type(odd) {
    background-color: #f0f8ff;
}

    #tbAbm tr:first-child {
        background-attachment: scroll;
        background-color: #00a0e4;
        background-position: left top;
        font-size: 12px;
        color: #FFFFFF;
    }



/*etiqueta paginador cantidad de registros*/
.lblPagReg {
    margin-top: 25px;
    position: absolute;
}
/*boton imprimir del paginador*/
.butPagImp {
    margin-top: 20px;
    margin-left: -11%;
    font-size: 11px;
    position: absolute;
}


/*FormFiltro y FormReg*/
/*interlineado de filas*/
form .form-group {
    margin-top: 7px;
    margin-bottom: 0px;
}


form div.form-group:last-child {
    margin-bottom: 20px;
}
 .alert {
    text-align: center;
    margin: 10px 20px;
    font-size: 14px;
}

form .botones {
    text-align: center;
    padding: 10px 0 10px 0;
}



.vcenter { /*alineacion vertical de columnas*/
    display: inline-block;
    vertical-align: middle;
    float: none;
}

form[name=FormReg] {
    padding-top:13px;
    text-align: left;
}
/*fondo filtro*/
form[name=FormFiltro]
{
    padding-top:13px;
    padding-bottom:7px;

    background-attachment: scroll;
    background-color: whitesmoke;
    font-family: Arial,Verdana,Tahoma;
    font-size: 13px;
    text-align: left;
}
